@charset "utf-8";

@font-face {
	font-family: titrfont;
	src: url("BTitrBd.ttf")
}

.div1 {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: antiquewhite;
	float: right;
	border-radius: 10px;
	border: 5px solid #1C4A5B
} 

.p1 {
	padding: 10px;
	text-align: center;
	border: 2px solid #000000;
	margin: 10px;
	border-radius: 10px;
	font-size: 22px;
}

.p2 {
	font-family: titrfont;
	text-align: center;
	font-size: 25px
}

.p3 {
	padding: 8px;
	text-align: center;
	font-size: 18px
	
}

.img1 {
	width: 70%;
	border-radius: 20px;
	margin-left: 15%;
	margin-right: 15%;
	border: 5px solid #1C4A5B;
}
