@charset "utf-8";

@font-face {
	font-family: titrfont;
	src: url("BTitrBd.ttf")
}

.div1 {
	width: 40%;
	background-color: antiquewhite;
	float: right;
	border-radius: 10px;
} 

.p1 {
	padding: 10px;
	text-align: center;
	border: 2px solid #000000;
	margin: 10px;
	border-radius: 10px;
}

.p2 {
	font-family: titrfont;
	padding-right: 5px;
}

.p3 {
	padding: 8px;
	
}
