@charset "utf-8";


body {
	background-image: url(image2.png);
	max-width: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    background-color: #B7B5B5;
    top: 0;
    width: 100%;
}


li {
    float: right;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.l1 {
	color: white;
}

a {
    text-decoration: none;
    color: #666666;
    display: block;
    padding: 15px;
    transition: all 0.3s;
}

li a.st  {
	color: white
}

li a:hover {
    color: white;
}



table {
	width: 100%;
	text-align: center
}
	


.img {
	width: 70%;
	margin-top: 5%;
	height: 260px;
	border-radius: 15px;
	margin-top: 25px;
	transition: all 0.6s
}
	
.img:hover {
	transform: rotate(-3deg);
	width: 73%;
	height: 270px;
}

.gal {
	color: white;
}


.R {
	width: 100%;

}

.d {
	width: 70%;
	margin-left: 15%;
	text-align: center
}
