@charset "utf-8";


body {
	background-image: url(image2.png);
	max-width: 100%;
}

.header {
	display: flex;
	justify-content: end;
}

ul {
    list-style-type: none;
    margin: 0;
	display: flex;
    top: 0;
    width: 100%;
	justify-content: end;
}


li {
    height: 50px;
    display: block;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #666666;
    display: block;
    padding: 15px;
    transition: all 0.3s;
}

li a.st  {
	color: white
}

li a:hover {
    color: white;
}

#this-page {
    color: white;
}

.main {
	margin: 20px auto;
}

img {
    margin-bottom: 80px;
    border-radius: 20px;
    background-color: beige;
    box-shadow: 5px 5px 10px rgb(93, 93, 93);
    transition: 0.4s;
}

img:hover {
    opacity: 0.8;
    transform: rotate(-4deg);
}

.container-section {
	display: flex;
    gap: 80px;
	justify-content: center;
}
