@charset "utf-8";

@font-face {
	font-family: titrfont;
	src: url("BTitrBd.ttf")
}

body {
	background-image: url("image2.png");
	max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    background-color: #B7B5B5;
    top: 0;
    width: 100%;
}


li {
    float: right;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: #666666;
    display: block;
    padding: 15px;
    transition: all 0.3s;
}

li a.st  {
	color: white
}

li a:hover {
    color: white;
}

footer {
	width: 100%; 
	background-color: #242424; 
	color: white; 
	font-size: 20px; 
	height: 60px; 
	text-align: center; 
	display: flex; 
	align-items: center; 
	justify-content: center
}



button {
	width: 40%; 
	height: auto; 
	font-size: 28px; 
	border: 1px solid #180C2C; 
	border-radius: 10px; 
	background-color: #180C2C; 
	color: white; 
	margin-right: 10%;
}

table {
	width: 60%; 
	height: auto; 
	margin-bottom: 10px; 
	margin-top: 0;
	background-color: #180C2C;
	border-radius: 15px;
	margin: 10px auto;
}

audio {
	padding-left: 20px; 
	text-align: center;
}

.div1 {
	float: left;
	width: 30%;
	padding-top: 10px;
	font-size: 20px; 
	color: white
}

.div2 {
	width: 100%;
}


h1 {
	color: #9A51BC; 
	font-size: 50px; 
	text-align: center;
	width: 70%;
	margin-left: 15%;
}

.p1 {
	color: white; 
	text-align: center;
	font-size: 25px;
	margin-left: 5%;
	margin-right: 5%;

}

.p2 {
	color: white; 
	text-align: center; 
	font-size: 40px; 
	margin-bottom: 0; 
	padding-top: 10px
}

.p3 {
	color: white; 
	float: right; 
	font-size: 20px;
}

.p4 {
	color: white; 
	float: right; 
	font-size: 20px; 
	margin-right: 40px;
	text-align: center
}

.p5 {
	color: white;
	margin: 40px 150px;
	font-size: 10px; 
}








